SAS/Service References/EstayMobileService/MyMobileServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileInter.Servers.Services.estay_ecs_Services.ActivityService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.Services.estay_ecs_Services.ActivityService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActivityParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientid" type="xs:int" />
      <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityParamsDTO" nillable="true" type="tns:ActivityParamsDTO" />
</xs:schema>